[submodule "lib/RealWorldModelling"]
	path = lib/RealWorldModelling
	url = https://github.com/C00206286/RealWorldModelling.git
[submodule "lib/modulo_3"]
	path = lib/modulo_3
	url = https://github.com/EricOT98/P0-C00203756
[submodule "lib/p0-C00203711"]
	path = lib/p0-C00203711
	url = https://github.com/Pierce-James/p0-C00203711.git
[submodule "lib/RWM-P0"]
	path = lib/RWM-P0
	url = https://github.com/zjacques/RWM-P0.git
[submodule "lib/modulo_first"]
	path = lib/modulo_first
	url = https://github.com/John-OMeara/p0-C00206417.git
[submodule "lib/P0-C00202334"]
	path = lib/P0-C00202334
	url = https://github.com/zjacques/P0-C00202334.git
