[submodule "lib/RealWorldModelling"]
	path = lib/RealWorldModelling
	url = https://github.com/C00206286/RealWorldModelling.git
[submodule "p0-C00203711"]
	path = p0-C00203711
	url = https://github.com/Pierce-James/p0-C00203711.git
[submodule "lib/p0-C00203711"]
	path = lib/p0-C00203711
	url = https://github.com/Pierce-James/p0-C00203711.git
